{% extends 'base.html' %}
{% block title %}DevineStokes - Admin-Login{% endblock %}

{% block content %}
<style>
    .errorlist{
        color:red;
    }
  
</style>
<div class=".form-container">
    <div class="row">
        <div class="col-md-6 mx-auto form-container">
            <h3 class="form-heading">Admin Login From</h3>
            <form action="" method="POST">
               <div class="form_data">
               <div class="input_field">
                {% csrf_token %}
               </div>
             
                {{form.as_p}}
               </div>

                <button class="btn btn-success">Login as a Admin</button>
               {% if error %}
               <li style="color: red;">{{error}}</li>
               {% endif %}
           
            </form>
            or Don't have an Account? please <a href="{% url 'ecomm:customerregistration' %}">Register Here</a>
        </div>
    </div>
</div>
{% endblock %}